.socialButtonStyle {
  width: calc(min(10vw, 30px));
  margin: calc(min(1vw, 10px));
  margin-top: 3vh !important;
  transition: ease-out 0.5s transform;
  fill: blue;
}

.socialButtonStyle:hover {
  transform: scale(1.2);
  transition: ease-out 0.5s transform;
}

.discord-icon {
  position: relative;
  top: 1px;
}

.laikaLogo {
  height: 100%;
  margin-right: 20px;
}

.laikaLogoFooter {
  height: 100%;
}

.space-dog-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hover-animation-chain{
  width: 4vw;
  transition: all 1s ease;

  &.bsc {
    margin-left: -0.4vw;
    margin-right: 5vw;
  }

  &.one {
    margin-right: 5vw;
  }

  &.matic {
    margin-right: 5vw;
  }

  &:hover {
    transform: scale(1.1);
    transition: all 1s ease;
  }
}

@media (max-width: 600px) {
  /*Mobile View */
  .socialButtonStyle {
    width: 10vw;
    margin: auto 2vw;
  }

  .hover-animation-chain{
    width: 8vw;
    transition: all 1s ease;

    &.bsc {
      margin-left: -0.4vw;
      margin-right: 5vw;
    }

    &.one {
      margin-right: 5vw;
    }

    &.matic {
      margin-right: 5vw;
    }

    &:hover {
      transform: scale(1.1);
      transition: all 1s ease;
    }
  }
}
