.socialButtonStyle {
  width: calc(min(10vw, 30px));
  margin: calc(min(1vw, 10px));
  margin-top: 3vh !important;
  transition: ease-out 0.5s transform;
  fill: blue;
}

.socialButtonStyle:hover {
  transform: scale(1.2);
  transition: ease-out 0.5s transform;
}

.discord-icon {
  position: relative;
  top: 1px;
}

.laikaLogo {
  height: 100%;
  margin-right: 20px;
}

.laikaLogoFooter {
  height: 100%;
}

.space-dog-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hover-animation-chain {
  width: 3vw;
  transition: all 1s ease;

  &.bsc {
    margin-right: 3vw;
  }

  &.one {
    margin-right: 3vw;
  }

  &.matic {
    margin-right: 3vw;
  }

  &.eth {
    margin-right: 3vw;
    margin-left: 3vw;
  }

  &.huobi {
    margin-right: 3vw;
  }

  &.okex {
    margin-right: 3vw;
  }

  &.avax {
    margin-right: 3vw;
  }

  &.xdai {
    margin-right: 3vw;
  }

  &.ftm {
    margin-right: 3vw;
  }

  &:hover {
    transform: scale(1.1);
    transition: all 1s ease;
  }
}

@media (min-width: 960px) {
  // .hover-animation-chain {
  //   &.eth {
  //     margin-left: 3.25vw;
  //   }
  // }
}

.marginbottom {
  margin-bottom: 1vh;
}

@media (max-width: 600px) {
  /*Mobile View */
  .socialButtonStyle {
    width: 10vw;
    margin: auto 2vw;
  }

  .hover-animation-chain{
    width: 10vw;
    transition: all 1s ease;

    &.bsc {
      margin-left: -0.8vw;
      margin-right: 5vw;
    }

    &.one {
      margin-right: 5vw;
    }

    &.matic {
      margin-right: 5vw;
    }

    &.eth {
      margin-right: 5vw;
    }

    &.huobi {
      margin-right: 5vw;
    }

    &.xdai {
      margin-right: 5vw;
    }

    &.ftm {
      margin-right: 5vw;
    }

    &.kcc {
      margin-right: 5vw;
    }

    &:hover {
      transform: scale(1.1);
      transition: all 1s ease;
    }
  }
}

#logo-spin-container {
  width: 100%;
  height: 100%;
  margin-left: 50%;
  left: -55%;
  // margin-top: 50%;
  top: 0%;
  position:absolute;
  display:grid;
  grid-template-columns:5vw;
  grid-template-rows:5vw;
  place-content: center;
  border-radius: 50%;
}
.logo-spin-item {
  grid-area:1/1;
  // line-height: 30px;
  // text-align: center;
  // border-radius: 50%;
  // background: #f00;
  // animation: spin 30s var(--d,0s) linear infinite; /* duration = 12s, numbor of item = 6 so a delay of 12/6 = 2s */
  // transform:rotate(0) translate(13vw) rotate(0);
  margin: 0 auto;
  text-align: center;
  width: 15vw;
  animation: orbit-animation 33s var(--d,0s) linear infinite;
  // -webkit-animation-name: orbit-animation;
  // -webkit-animation-duration: 5s;
  // -webkit-animation-delay: var(--d,0s);
  // -webkit-animation-iteration-count: infinite;
  // animation-name: orbit-animation;
  // animation-duration: 5s;
  // animation-delay: var(--d,0s);
  // animation-iteration-count: infinite;

  &:after {
    content: var(--label,"test");
    opacity: 0;
    transition: all 200ms linear;
  }

  &:hover {
    &:after {
      content: var(--label,"test");
      opacity: 1;
      transition: all 200ms linear;
    }
  }
}
@keyframes spin {
  100% {
    transform:rotate(1turn) translate(13vw) rotate(-1turn);
  }
}

.abspos {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 9vw;
  right: 0;
  text-align: center;
  transform: translateZ(1vw);
}

.relpos {
  position: relative;
  perspective: 600px;
}

// @-webkit-keyframes orbit-animation {
//     from {
//         -webkit-transform: rotateY(0) translateZ(15vw);
//         -webkit-animation-timing-function: linear;
//     }
//
//     to {
//         -webkit-transform: rotateY(360deg) translateZ(15vw);
//         -webkit-animation-timing-function: linear;
//     }
// }

@keyframes orbit-animation {
    0% {
        transform: rotateY(0) translateZ(15vw);
        animation-timing-function: linear;
    }

    30% {
      opacity: 1;
    }

    31% {
      opacity: 0;
    }

    66% {
      opacity: 0;
    }
    67% {
      opacity: 1;
    }

    100% {
        transform: rotateY(360deg) translateZ(15vw);
        animation-timing-function: linear;
    }
}

.hoverscale {
  transform: scale(1);
  transition: all 200ms linear;
  &:hover {
    transition: all 200ms linear;
    transform: scale(1.01);
  }
}

.lottie-rocket {
  height: 500px !important;
}
